.wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.item{
    padding:8px;
    color: #555;
    background-color: white;
    border-radius: 3px;
}
.droppableStyle{
    width:25%;
    height:400px;
    margin:1%;
}

@media only screen and (max-width: 1200px) {
    .droppableStyle{
        width: 40%;
        
    }
}
@media only screen and (max-width: 600px) {
    .droppableStyle{
        width: 100%;
        
    }
}