.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1% 0 0 1%;
}
.nav__logo{
    width: 30%;
    padding: 0 0 0 1% ;
    font-size: 30px;
    font-weight: 800;
}
.nav__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    width: 68%;
    padding: 0;
}
.nav__links>li:hover{
    background-color: yellow;
}
.nav__links>li>a{
    font-weight: 600;
    text-decoration: none;
}